HELP.md
.database
.gradle
build/
dist
**/.aws-sam/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
coverage/**
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
!**/src/main/**/bin/
!**/src/test/**/bin/
springboot-app/bin
flyway-lambda/bin
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.zip
*.tar.gz
*/vendor
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
test/__snapshots__
*.js
lambdas/**.js
!jest.config.js
*.d.ts
node_modules
springboot-app/truststores
# CDK asset staging directory
.cdk.staging
cdk.out
cdk.context.json
.cdk.staging
credentials/
.nix-node
*/.aws-sam/